[submodule "Petty-Care-Back"]
	path = Petty-Care-Back
	url = https://github.com/Sebastien-jo/Petty-Care-Back/tree/back/master
[submodule "Petty-Care-Front"]
	path = Petty-Care-Front
	url = https://github.com/Sebastien-jo/Petty-Care-Front/tree/main
[submodule "Petty-Care-Wordpress"]
	path = Petty-Care-Wordpress
	url = https://github.com/Sebastien-jo/Petty-Care-Wordpress/tree/main
